.cardTutorials {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 220px;
  margin: 20px;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  height: 480px;
}

.cardTutorials:hover {
  transform: translateY(-10px);
}

.cardTutorials-image {
  height: 250px;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}

.cardTutorials-content {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardTutorials-title {
  font-size: 18px;
  margin: 0;
  color: rgb(0, 0, 0);
}

.cardTutorials-subtitle {
  font-size: 14px;
  color: gray;
}

.cardTutorials-description {
  font-size: 12px;
  margin: 10px 0;
  color: rgb(0, 0, 0);
}

.cardTutorials-button {
  background-color: #1d245a;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  align-self: flex-start;
}

.cardTutorials-button:hover {
  background-color: #131735;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
  .cardTutorials {
    width: 240px;
    height: auto;
  }

  .cardTutorials-image {
    height: 200px;
  }
}

@media (max-width: 480px) {
  .cardTutorials {
    width: 240px; /* 📌 Más ancho que antes (era 200px) */
    height: auto;
  }

  .cardTutorials-image {
    height: 160px;
  }
}
