.change-password-container {
    width: 100%;
    max-width: 400px;
    padding: 10px 0;
    background-color: #202437;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    color: white;
    margin: 30px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  
  .change-password-container h2 {
    color: #fbbd08;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .change-password-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .change-password-form label {
    font-weight: bold;
    font-size: 14px;
    color: #f0f0f0;
  }
  
  .change-password-form input {
    padding: 7px;
    border-radius: 6px;
    border: 1px solid #757fa6;
    background-color: #2a2f4a;
    color: #fff;
    font-size: 14px;
    width: 80%;
  }
  
  .change-password-form input:focus {
    outline: none;
    border-color: #fbbd08;
  }
  
  .ActualizarContraseñaButton {
    background-color: #fbbd08;
    color: #202437;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    width: 60%;
    align-self: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .ActualizarContraseñaButton:hover {
    background-color: #ffcc33;
    transform: scale(1.05); /* animación de crecimiento */
  }

/* Solo aplica al botón del ojo */
.password-container {
    display: flex;
    position: relative;
    width: 100%;
  }
  
  .password-container input {
    flex: 1;
    padding-right: 40px; /* espacio para el icono */
  }
  
  .password-toggle-btn {
    position: absolute;
    right: 11px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 7px 7px 6px 6px;
  }
  

 