.chatbot-container {
  position: fixed;
  bottom: 30px;
  right: 10px;
  z-index: 999;
  transition: right 0.4s ease-in-out;
}

.chatbot-container.open {
  right: 20px;
}

.chatbot-toggle {
  background-color: #fbbd08;
  border: none;
  color: #131735;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease, background-color 0.3s ease;
  z-index: 1100;
  outline-color: #cfd1d9;
  outline-style: solid;
  outline-width: 1px;
}

.chatbot-toggle:hover {
  transform: scale(1.1) translateY(-50%);
  background-color: #ffcc33;
}

.chatbot-toggle:focus {
  outline-color: #cfd1d9;
  outline-style: solid;
  outline-width: 1px;
}

.chatbot-box {
  width: 260px;
  height: 350px;
  background-color: #cfd1d9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  padding: 10px;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 0;
  transform: translateX(20px);
}

.chatbot-container.open .chatbot-box {
  opacity: 1;
  transform: translateX(0);
}

.chatbot-messages {
  flex: 1;
  overflow-y: auto;
  padding: 5px;
  max-height: 280px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.message {
  padding: 8px 12px;
  margin: 5px 0;
  border-radius: 5px;
  max-width: 80%;
  display: flex;
  align-items: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  overflow: hidden;
}

.user {
  margin-left: auto;
  background-color: #fbbd08;
  color: #131735;
  align-self: flex-end;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  word-break: break-word;
}

.bot {
  margin-right: auto;
  background-color: #131735;
  color: #eceef1;
  align-self: flex-start;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  word-break: break-word;
}

.user-iconChat {
  font-size: 30px;
  color: #131735;
  margin-right: 10px;
}

.bot-iconChat {
  font-size: 25px;
  margin-right: 10px;
}

.chatbot-input {
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc;
  padding: 5px;
}

.chatbot-input input {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 5px;
}

.chatbot-input button {
  background-color: #fbbd08;
  border: none;
  padding: 8px 12px;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.chatbot-input button:hover {
  background-color: #ffcc33;
}
