/* Contenedor principal */
.forgot-password-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #131735;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.forgot-password-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.forgot-password-box {
  position: relative;
  z-index: 2;
  background: #202437;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #cfd1d9;
  width: 100%;
  max-width: 400px;
}

/* Títulos */
.forgot-password-title {
  font-size: 32px;
  font-weight: bold;
  color: #fbbd08;
}

.forgot-password-instruction {
  font-size: 16px;
  margin-bottom: 20px;
  color: #cfd1d9;
}

/* Formulario */
.forgot-password-form {
  display: flex;
  flex-direction: column;
}

.forgot-password-input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #fbbd08;
  border-radius: 5px;
  font-size: 16px;
  color: #202437;
  background-color: #cfd1d9;
}

.forgot-password-input:focus {
  outline: none;
  border-color: #fbbd08;
  box-shadow: 0 0 5px rgba(251, 189, 8, 0.5);
}

/* Cambios para cuando hay error */
.forgot-password-input.error {
  border-color: #e74c3c;
  background-color: #f8d7da;
  color: #e74c3c;
}

.forgot-password-input.error:focus {
  border-color: #e74c3c;
  box-shadow: 0 0 5px rgba(231, 76, 60, 0.5);
}

/* Mensajes */
.forgot-password-error {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 10px;
}

.forgot-password-success {
  color: #4caf50;
  font-size: 14px;
  margin-top: 10px;
}

/* Botón */
.forgot-password-button {
  background-color: #fbbd08;
  color: #202437;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.forgot-password-button:hover {
  background-color: #202437;
  color: #fbbd08;
}

/* Botón deshabilitado */
.forgot-password-button:disabled {
  background-color: #f0f0f0;
  cursor: not-allowed;
  color: #888;
}

/* Botón para regresar al login */
.forgot-password-back-button {
  margin-top: 20px;
  background-color: transparent;
  color: #fbbd08;
  padding: 10px 20px;
  border: 1px solid #fbbd08;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.forgot-password-back-button:hover {
  background-color: #fbbd08;
  color: #202437;
}
