/* Contenedor principal */
.forgot-password-container {
  height: 100vh; /* Ocupa toda la altura de la ventana */
  width: 100vw; /* Ocupa toda la anchura de la ventana */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #131735; /* Fondo azul oscuro */
  color: #cfd1d9; /* Texto gris claro */
  text-align: center;
  padding: 20px;
}

/* Caja del formulario */
.forgot-password-container form {
  background: #202437; /* Fondo azul más oscuro */
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}

/* Título */
.forgot-password-container h2 {
  font-size: 28px;
  color: #fbbd08; /* Amarillo */
  margin-bottom: 20px;
}

/* Texto descriptivo */
.forgot-password-container p {
  font-size: 16px;
  color: #cfd1d9; /* Gris claro */
  margin-bottom: 20px;
}

/* Input */
.forgot-password-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #fbbd08; /* Amarillo */
  border-radius: 5px;
  background-color: #cfd1d9; /* Fondo gris claro */
  color: #202437; /* Texto azul oscuro */
  font-size: 16px;
}

.forgot-password-input:focus {
  outline: none;
  border-color: #fbbd08; /* Amarillo */
  box-shadow: 0 0 5px rgba(251, 189, 8, 0.5); /* Sombra amarilla */
}

/* Cambios para cuando hay error */
.forgot-password-input.error {
  border-color: #e74c3c; /* Rojo */
  background-color: #f8d7da; /* Fondo rojo claro */
  color: #e74c3c; /* Texto rojo */
}

.forgot-password-input.error:focus {
  border-color: #e74c3c; /* Rojo */
  box-shadow: 0 0 5px rgba(231, 76, 60, 0.5); /* Sombra roja */
}

/* Botón */
button {
  width: 100%;
  padding: 10px;
  background-color: #fbbd08; /* Amarillo */
  color: #202437; /* Texto azul oscuro */
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #202437; /* Fondo azul oscuro */
  color: #fbbd08; /* Texto amarillo */
}

button:disabled {
  background-color: #888; /* Gris deshabilitado */
  cursor: not-allowed;
  color: #f0f0f0;
}

/* Mensaje de éxito */
.success-message {
  font-size: 14px;
  color: #4caf50; /* Verde */
  margin-top: 10px;
}

/* Mensaje de error */
.error-message {
  font-size: 14px;
  color: #e74c3c; /* Rojo */
  margin-top: 10px;
}
