/* Contenedor principal */
.login-container {
  height: 100vh; /* Ocupa toda la altura de la ventana */
  width: 100vw; /* Ocupa toda la anchura de la ventana */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #131735; /* Fondo azul general */
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.login-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Oscurece el fondo ligeramente */
  z-index: 1;
}

.login-box {
  position: relative;
  z-index: 2;
  background: #202437; /* Fondo azul más oscuro para el formulario */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #cfd1d9; /* Gris sidebar para el texto */
  width: 100%;
  max-width: 400px;
}

/* Títulos */
.login-title {
  font-size: 32px;
  font-weight: bold;
  color: #fbbd08; /* Amarillo para destacar el título */
}

.login-version {
  font-size: 14px;
  margin-bottom: 20px;
  color: #cfd1d9; /* Gris sidebar */
}

.login-welcome {
  font-size: 24px;
  margin-bottom: 20px;
  color: #fbbd08; /* Amarillo */
}

.login-instruction {
  font-size: 16px;
  margin-bottom: 20px;
  color: #cfd1d9; /* Gris sidebar */
}

/* Formulario */
.login-form {
  display: flex;
  flex-direction: column;
}

.login-input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #fbbd08; /* Amarillo para los bordes */
  border-radius: 5px;
  font-size: 16px;
  color: #202437; /* Azul más oscuro para el texto */
  background-color: #cfd1d9; /* Gris sidebar para el fondo */
}

.login-input:focus {
  outline: none;
  border-color: #fbbd08; /* Amarillo */
  box-shadow: 0 0 5px rgba(251, 189, 8, 0.5);
}

/* Cambios para cuando hay error */
.login-input.error {
  border-color: #e74c3c; /* Rojo para indicar error */
  background-color: #f8d7da; /* Fondo más claro para indicar error */
  color: #e74c3c; /* Texto en rojo */
}

.login-input.error:focus {
  border-color: #e74c3c; /* Rojo */
  box-shadow: 0 0 5px rgba(231, 76, 60, 0.5); /* Sombra roja */
}

/* Mensaje de error */
.login-error {
  color: #e74c3c; /* Rojo para los mensajes de error */
  font-size: 14px;
  margin-top: 10px;
}

/* Botón */
.login-button {
  background-color: #fbbd08; /* Amarillo */
  color: #202437; /* Azul más oscuro */
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.login-button:hover {
  background-color: #202437; /* Azul más oscuro */
  color: #fbbd08; /* Amarillo */
}

/* Footer */
.login-footer {
  font-size: 12px;
  margin-top: 20px;
  color: #cfd1d9; /* Gris sidebar */
}

.privacy-policy {
  color: #fbbd08; /* Amarillo */
  text-decoration: none;
}

.privacy-policy:hover {
  text-decoration: underline;
}

/* Estilo del contenedor de carga */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo opaco */
  z-index: 1000; /* Para asegurarse de que está por encima de los demás elementos */
}

/* Spinner */
.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001; /* Asegura que el spinner esté por encima de la capa de fondo */
}

.circle {
  border: 4px solid transparent;
  border-top: 4px solid #fbbd08; /* Color amarillo */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

/* Animación de rotación para el spinner */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Botón deshabilitado durante el proceso de carga */
.login-button:disabled {
  background-color: #f0f0f0;
  cursor: not-allowed;
  color: #888;
}

/* Estilos para el botón de registro */
.register-link {
  margin-top: 20px;
  text-align: center;
}

.register-button {
  background-color: #fbbd08; /* Amarillo */
  color: #202437; /* Azul oscuro */
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.register-button:hover {
  background-color: #202437; /* Azul más oscuro */
  color: #fbbd08; /* Amarillo */
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: white;
  color: black; /* Asegúrate de que el texto sea negro */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.popup h2 {
  margin-bottom: 10px;
  color: #333; /* Un gris oscuro para el título */
}

.popup p {
  margin-bottom: 20px;
  color: #555; /* Un gris claro para el texto del cuerpo */
}

.popup-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.popup-button:hover {
  background-color: #45a049;
}

.forgot-password-link {
  margin-top: 10px;
  font-size: 14px;
  color: #fbbd08; /* Amarillo */
  cursor: pointer;
  text-decoration: underline;
}

.forgot-password-link:hover {
  color: #ffcc33;
}

.password-container {
  display: flex;
  position: relative;
  width: 100%;
}

.password-container input {
  flex: 1; /* Hace que el input ocupe todo el espacio disponible */
  padding-right: 40px; /* Asegura espacio para el botón */
}

.toggle-password {
  position: absolute;
  right: 0px;
  background: none;
  border: none;
  cursor: pointer;
}

.toggle-password:focus {
  outline: 0px;
}

.eye-icon,
.eyeSlash-icon {
  color: #202437;
}
