.sidebar {
  position: fixed;
  top: 80px;
  left: -500px;
  width: 250px;
  height: calc(100% - 80px);
  background-color: #cfd1d9;
  transition: left 0.4s ease-in-out;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  z-index: 999;
}

.sidebar.open {
  left: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 12px 20px;
  background-color: #131735;
  color: #eceef1;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* ✅ Se cambia el color cuando un panel está activo */
.sidebar ul li.active {
  background-color: #fbbd08;
  color: #131735;
}

/* ✅ Efecto hover */
.sidebar ul li:hover {
  background-color: #fbbd08;
  transform: scale(1.03);
}

.sidebar ul li i {
  font-size: 14px;
}
