.cardDisciplinar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px; /* Espacio entre las cartas */
  min-height: calc(
    100vh - 70px
  ); /* Resta la altura del header si es necesario */
  /*background-color: #1b1b3a;*/
  padding: 20px;
  box-sizing: border-box;
  margin-top: 25px; /* Ajusta este valor a la altura de tu header */
}

/* Media query para ajustar el espaciado en pantallas pequeñas */
@media (max-width: 768px) {
  .cardDisciplinar-container {
    gap: 15px; /* Reduce el espacio entre las cartas */
    padding: 10px; /* Reduce el relleno del contenedor */
  }
}

@media (max-width: 480px) {
  .cardDisciplinar-container {
    gap: 10px; /* Reduce aún más el espacio entre las cartas */
    padding: 5px; /* Reduce más el relleno del contenedor */
  }
}

.titleDisciplinar{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: -webkit-fill-available;
}

.descriptionDisciplinar{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: -webkit-fill-available;
}

.titleDisciplinar-container{
  margin-top: 120px;
}